<configuration>
    <paths>
        <media-path>media/</media-path>
        <log-path disable="false">log/</log-path>
        <data-path>data/</data-path>
        <template-path>template/</template-path>
    </paths>
    <lock-clear-phrase>secret</lock-clear-phrase>
    <log-level>info</log-level>
    <system-audio>
        <device-name/>
    </system-audio>
    <channels>
        <channel>
            <video-mode>5120x768</video-mode>
            <channel-layout>stereo</channel-layout>
            <consumers>
                <screen>
                    <device>1</device>
                    <enable-mipmaps>true</enable-mipmaps>
                    <stretch>none</stretch>
                    <windowed>true</windowed>
                    <key-only>false</key-only>
                    <vsync>false</vsync>
                    <borderless>true</borderless>
                    <interactive>false</interactive>
                    <always-on-top>true</always-on-top>
                    <x>0</x><y>0</y>
                    <width>5120</width><height>768</height>
                    <sbs-key>false</sbs-key>
                    <colour-space>RGB</colour-space>
                    <force-linear-filter>true</force-linear-filter>
                </screen>
                <portaudio>
                    <host-api>auto</host-api>
                    <output-channels>2</output-channels>
                    <buffer-size-frames>128</buffer-size-frames>
                    <latency-compensation-ms>40</latency-compensation-ms>
                    <fifo-ms>50</fifo-ms>
                    <auto-tune-latency>true</auto-tune-latency>
                </portaudio>
                <ndi>
                    <name>HighAsCG-CH1</name>
                </ndi>
            </consumers>
            <mixer>
                <audio-osc>true</audio-osc>
            </mixer>
        </channel>
        <channel>
            <video-mode>5120x768</video-mode>
            <consumers></consumers>
            <mixer>
                <audio-osc>true</audio-osc>
            </mixer>
        </channel>
        <channel>
            <video-mode>1080p5000</video-mode>
            <consumers>
                <screen>
                    <device>2</device>
                    <stretch>none</stretch>
                    <windowed>true</windowed>
                    <key-only>false</key-only>
                    <vsync>false</vsync>
                    <borderless>true</borderless>
                    <interactive>false</interactive>
                    <always-on-top>true</always-on-top>
                    <x>5120</x><y>0</y>
                    <width>1920</width><height>1080</height>
                    <sbs-key>false</sbs-key>
                    <colour-space>RGB</colour-space>
                    <force-linear-filter>true</force-linear-filter>
                </screen>
            </consumers>
            <mixer>
                <audio-osc>false</audio-osc>
            </mixer>
        </channel>
        <channel>
            <video-mode>1080p5000</video-mode>
            <consumers/>
            <mixer>
                <audio-osc>true</audio-osc>
            </mixer>
        </channel>
        <channel>
            <video-mode>1080p5000</video-mode>
            <consumers>
            </consumers>
            <mixer>
                <audio-osc>true</audio-osc>
            </mixer>
        </channel>
    </channels>
    <video-modes>
        <video-mode>
            <id>5120x768</id>
            <width>5120</width>
            <height>768</height>
            <time-scale>50000</time-scale>
            <duration>1000</duration>
            <cadence>960</cadence>
        </video-mode>
    </video-modes>
    <controllers><tcp><port>5250</port><protocol>AMCP</protocol></tcp>
    </controllers>
    <osc>
        <default-port>6250</default-port>
        <disable-send-to-amcp-clients>false</disable-send-to-amcp-clients>
        <predefined-clients>
            <predefined-client>
                <address>127.0.0.1</address>
                <port>6251</port>
            </predefined-client>
        </predefined-clients>
    </osc>

    <amcp><media-server><host>localhost</host><port>8000</port></media-server></amcp>
    <ndi><auto-load>true</auto-load></ndi>
    <decklink/>
    <html>
        <enable-gpu>false</enable-gpu>
    </html>
</configuration>